.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 80%;
    margin: 0 auto;
  }

  &__video {
    width: 100%;
  }

  &__close {
    position: absolute;
    right: 97px;
    top: 45px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    &:hover span {
      background-color: $purple;
    }
    & span {
      position: absolute;
      width: 60px;
      height: 1px;
      background-color: #fff;
      transition: all 0.3s ease-in-out;
    }
    & span:nth-child(1) {
      transform: rotate(45deg);
      top: 27px;
      left: 0;
    }
    & span:nth-child(2) {
      transform: rotate(-45deg);
      top: 28px;
      left: 0;
    }
  }
}
.showreel {
  margin-bottom: 300px;
  padding: 40px 0;

  &__logo img {
    margin: 0 auto;
    max-height: 35vh;
  }

  &__ufo {
    position: relative;
    margin-top: -180px;
  }

  &__ufo-img {
    display: block;
    margin: 0 auto;
    max-height: 38vh;
    position: relative;
    z-index: 1;
  }

  &__open-video {
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translate(-50%, 100%);
    padding-top: 40px;
    font-family: "IBM";
    font-size: 22px;
    text-transform: uppercase;
    z-index: 1;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 26px;
      height: 26px;
      background-image: url(../icons/play.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      transition: all 0.3s ease-in-out;
    }
    &:hover::before {
      transform: translateX(-50%) scale(1.5);
    }
  }

  &__ufo-light {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    z-index: 0;
    background-color: #000;
    & img {
      width: 100%;
      mix-blend-mode: screen;
      animation: ufo-light 3s infinite ease-in-out;
    }
  }
  @keyframes ufo-light {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  &__particles {
    position: absolute;
    top: 63px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 400%;
    max-width: 38%;
    margin: 0 auto;
  }

  &__content {
    padding: 0 80px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    pointer-events: none;
    &.active {
      pointer-events: all;
    }
  }

  &__btn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 450px;
    width: 100%;
    padding: 25px;
    background-color: $green;
    border-radius: 55px;
    border: none;
    box-shadow: 0px 0px 25px $green;
    font-size: 28px;
    color: #000;
    transition: box-shadow .3s ease-in-out;
    z-index: 1;
    pointer-events: all;
    &:hover {
      box-shadow: 0px 0px 35px $green;
    }
  }

  &__big-word {
    font-size: 6.5vw;
    color: transparent;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 2px;
    transition: color 0.3s ease-in-out;
    position: relative;
    letter-spacing: 1px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 50%;
      width: 200vw;
      opacity: 0;
      background: linear-gradient(
        180deg,
        rgba(131, 103, 214, 0) 0%,
        rgba(131, 103, 214, 0.5018382352941176) 20%,
        rgba(131, 103, 214, 1) 35%,
        rgba(121, 93, 203, 1) 50%,
        rgba(131, 103, 214, 1) 65%,
        rgba(131, 103, 214, 0.4962359943977591) 80%,
        rgba(131, 103, 214, 0) 100%
      );
      z-index: -1;
      transition: all 0.3s ease-in-out;
    }

    &:hover::after {
      height: 200%;
      opacity: 0.7;
    }

    &:hover {
      color: #fff;
    }
    &--first {
      position: absolute;
      right: 100px;
      bottom: 100%;
    }
    &--second {
      margin-left: 70px;
      margin-right: 10%;
    }

    &--third {
      margin-right: 30px;
    }

    &--fourth {
      margin-left: 18%;
    }

    &--fifth {
      width: 100%;
      text-align: right;
    }
    &--sixth {
      position: absolute;
      top: 100%;
      right: 100px;
      font-size: 4.5vw;
    }
  }

  &__text {
    max-width: 330px;
    margin-right: 50px;
    font-family: "IBM";
    text-transform: uppercase;
  }

  &__text-2 {
    max-width: 690px;
    font-family: "IBM";
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 100px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__text-2.show {
    opacity: 1;
  }

  &__ellipse {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 100%;
    height: 570px;
    transform: translateY(-58%);
    pointer-events: none;
  }

  &__video {
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__video.show {
    opacity: 1;
  }
}

.projects {
  padding: 40px 0;

  &__top {
    margin-bottom: 300px;
  }

  &__title {
    margin-bottom: 60px;
    font-family: "IBM";
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  &__descr {
    margin-bottom: 40px;
    font-size: 5vw;
    color: #fff;
    text-align: center;
  }
  &__descr-line span {
    display: inline-block;
    transform-origin: 0 0;
  }
  &__descr-line:nth-child(2) {
    color: transparent;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 2px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70vh;
  }

  &__item {
    margin-bottom: 100px;
    transform-origin: center center;

    &:nth-child(1) {
      transform: translate(-160%, 0) rotate(25deg);
    }
    &:nth-child(2) {
      transform: translate(260%, 20%) rotate(-25deg);
    }
    &:nth-child(3) {
      transform: translate(60%, -20%) rotate(-15deg);
    }
    &:nth-child(4) {
      transform: translate(-100%, 0) rotate(25deg);
    }
    &:nth-child(5) {
      transform: translate(60%, -20%) rotate(-15deg);
    }
  }

  &__btn-box {
    display: flex;
    justify-content: center;
  }

  &__btn {
    position: relative;
    font-size: 48px;
    border: none;
    background-color: transparent;
    color: $purple;
    text-transform: uppercase;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 50%;
      width: 100vw;
      opacity: 0;
      background: linear-gradient(
        180deg,
        rgba(131, 103, 214, 0) 0%,
        rgba(131, 103, 214, 0.5018382352941176) 20%,
        rgba(131, 103, 214, 1) 35%,
        rgba(121, 93, 203, 1) 50%,
        rgba(131, 103, 214, 1) 65%,
        rgba(131, 103, 214, 0.4962359943977591) 80%,
        rgba(131, 103, 214, 0) 100%
      );
      z-index: -1;
      transition: all 0.3s ease-in-out;
    }
    &:hover::after {
      height: 200%;
      opacity: 1;
    }
  }
}

.about {
  padding: 40px 0;

  &__inner {
    max-width: 1510px;
    padding: 0 40px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 60px;
    font-family: "IBM";
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__text p {
    font-size: 40px;
    margin-bottom: 15px;
  }

  &__subtitle {
    margin-bottom: 60px;
    font-size: 48px;
    color: transparent;
    text-align: center;
    -webkit-text-stroke: #602dbd;
    -webkit-text-stroke-width: 1px;
  }

  &__btn-box {
    display: flex;
    justify-content: center;
  }

  &__btn {
    position: relative;
    padding: 30px 60px;
    background-color: $green;
    box-shadow: 0px 0px 35px $green;
    border: none;
    border-radius: 100px;
    font-size: 48px;
    z-index: 1;
    transition: box-shadow .3s ease-in-out;
    &:hover {
      box-shadow: 0px 0px 45px $green;
    }
    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   height: 50%;
    //   width: 100vw;
    //   opacity: 0;
    //   background: linear-gradient(
    //     180deg,
    //     rgba(131, 103, 214, 0) 0%,
    //     rgba(131, 103, 214, 0.5018382352941176) 20%,
    //     rgba(131, 103, 214, 1) 35%,
    //     rgba(121, 93, 203, 1) 50%,
    //     rgba(131, 103, 214, 1) 65%,
    //     rgba(131, 103, 214, 0.4962359943977591) 80%,
    //     rgba(131, 103, 214, 0) 100%
    //   );
    //   z-index: -1;
    //   transition: all 0.3s ease-in-out;
    // }
    // &:hover::after {
    //   height: 200%;
    //   opacity: 1;
    // }
  }
}

.team {
  padding-top: 100px;
  overflow: hidden;
  &__inner {
    max-width: 1520px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
  }
  &__title {
    max-width: 1180px;
    margin: 0 auto;
    font-size: 96px;
    font-weight: 400;
    text-align: center;
  }
  &__list {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 380px 380px;
    grid-gap: 50px;
    justify-content: space-between;
  }
  &__video-link {
    overflow: hidden;
  }
  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
  }
}

// @property --rotate {
//   syntax: "<angle>";
//   initial-value: 193deg;
//   inherits: false;
// }

// @property --opacity-bg {
//   syntax: "<number>";
//   initial-value: 0.5;
//   inherits: false;
// }

.contact {
  &__inner {
    position: relative;

    // background: linear-gradient(193deg, rgba(131, 103, 214, 0) 30%, rgba(131, 103, 214, 0.5) 45%, rgba(131, 103, 214, 0.8) 48%, #795dcb 50%, rgba(131, 103, 214, 0.8) 52%, rgba(131, 103, 214, 0.5) 55%, rgba(131, 103, 214, 0) 70%);
    // background: linear-gradient(var(--rotate), rgba(131, 103, 214, 0) 30%, rgba(131, 103, 214, var(--opacity-bg)) 45%, rgba(131, 103, 214, 0.8) 48%, #795dcb 50%, rgba(131, 103, 214, 0.8) 52%, rgba(131, 103, 214, var(--opacity-bg)) 55%, rgba(131, 103, 214, 0) 70%);
    // background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    // animation: test 5s linear infinite;
    transition: all 0.3s ease-in;
  }

  // @keyframes test {
  //   0% {
  //     --rotate: 193deg;
  //     --opacity-bg: 0.3;
  //   }
  //   50% {
  //     --rotate: 185deg;
  //     --opacity-bg: 0.5;
  //   }
  //   100% {
  //     --rotate: 193deg;
  //     --opacity-bg: 0.3;
  //   }
  // }
  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    font-size: 5vw;
    cursor: pointer;
    position: relative;

    & span + span {
      margin-left: 100px;
    }
  }

  &__border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
  }

  &__star {
    mix-blend-mode: screen;
    opacity: 0.5;
  }

  &__form {
    position: relative;
    max-width: 1400px;
    margin: 0 auto 220px;
    padding: 60px 80px;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 50px;
  }

  &__form-inner {
    transition: all .3s ease-in-out;
    &.hidden {
      visibility: hidden;
    }
  }

  &__server-answer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__form-title {
    margin-bottom: 15px;
    font-size: 48px;
    text-transform: uppercase;
    span {
      color: $green;
    }
  }

  &__input {
    width: 100%;
    padding: 20px 0;
    font-size: 64px;
    letter-spacing: 2px;
    color: #fff;
    transition: all .3s ease-in-out;
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid #fff;
    outline-style: none;
    caret-color: #fff;
    &:-webkit-autofill {
      -webkit-background-clip: text;
      -webkit-text-fill-color: #ffffff;
    }
  }

  &__input::placeholder {
    color: transparent;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 2px;
    opacity: 1;
    // transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  &__input:focus, 
  &__input:hover {
    border-bottom: 1px solid $purple;
  }

  &__input:focus::placeholder,
  &__input:hover::placeholder {
    -webkit-text-stroke: transparent;
    color: #fff;
  }

  &__btn {
    display: block;
    margin-top: 55px;
    margin-left: auto;
    padding: 20px;
    max-width: 460px;
    width: 100%;
    font-size: 48px;
    background-color: $green;
    box-shadow: 0px 0px 25px $green;
    border: none;
    border-radius: 50px;
    text-align: center;
    transition: all .3s ease-in-out;
    &:hover {
      box-shadow: 0px 0px 45px $green;
    }
  }

  &__hand {
    position: absolute;
    object-fit: contain;
    pointer-events: none;

    &--human {
      left: 0;
      bottom: -15%;
      width: 560px;
      height: 300px;
      object-position: left top;
    }
    &--alien {
      width: 500px;
      height: 360px;
      bottom: 100px;
      right: -130px;
      object-position: right bottom;
    }
  }
}

@media (max-width: 1440px) {
  .showreel {
    &__ufo-img {
      max-width: 70%;
    }
    &__content {
      padding: 30px 30px 0;
    }
    &__btn {
      max-width: 260px;
      padding: 15px;
      font-size: 18px;
    }
    &__ellipse {
      height: 480px;
    }

    &__text {
      max-width: 220px;
    }

    &__text-2 {
      max-width: 440px;
    }
  }

  .about {
    &__text p {
      font-size: 28px;
    }
    &__btn {
      padding: 20px 30px;
      font-size: 18px;
    }
  }

  .team {
    &__title {
      font-size: 48px;
    }
  }
  .contact {
    &__text span + span {
      margin-left: 70px;
    }
    &__star {
      max-width: 150px;
    }
    &__form {
      padding: 30px 40px;
    }
    &__form-title {
      font-size: 28px;
    }
    &__input {
      padding: 15px 0;
      font-size: 28px;
    }
    &__btn {
      padding: 15px;
      margin-top: 20px;
      font-size: 18px;
      max-width: 220px;
    }
    &__hand {
      &--human{
        width: 370px;
        height: 160px;
      }
      &--alien{
        right: -105px;
        width: 300px;
        height: 240px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .team {
    &__list {
      grid-template-columns: 32% 32%;
    }
  }
}

@media (max-width: 1024px) {
  .showreel {
    margin-bottom: 0;
    padding: 40px 0 0;
    &__inner {
      padding-bottom: 60px;
      overflow-x: hidden;
    }

    &__content {
      margin-top: 30px;
      margin-bottom: 200px;
      flex-direction: column;
      justify-content: center;
      pointer-events: all;
    }
    &__btn {
      display: none;
    }
    &__text {
      display: none;
    }
    &__text-2 {
      top: 77%;
      margin-top: 13%;
      order: 1;
    }

    &__big-word {
      margin: 0;
      width: auto;
      &--first {
        position: static;
      }
      &--sixth {
        position: static;
        font-size: 6.5vw;
      }
    }

    &__ellipse {
      display: none;
    }

    &__video {
      max-height: 400px;
    }
    &__open-video {
      bottom: 25px;
    }
  }

  .about {
    &__subtitle {
      font-size: 28px;
      margin-bottom: 30px;
    }
    &__text {
      margin-bottom: 30px;
    }
    &__text p {
      font-size: 18px;
    }
    &__btn {
      font-size: 20px;
    }
  }

  .projects {
    &__top {
      margin-bottom: 40px;
    }
    &__list {
      padding-bottom: 0;
    }
    &__btn {
      font-size: 20px;
    }
    &__item {
      margin-bottom: 50px;
      transform: translate(0, 0) !important;
    }
  }
}

@media (max-width: 768px) {
  .popup {
    &__inner {
      max-width: 100%;
    }
    &__close {
      top: 30px;
      right: 35px;
    }
  }
  .showreel {
    &__ufo {
      margin-top: -65px;
    }
    &__video {
      max-height: 220px;
    }
  }
  .projects {
    &__descr {
      font-size: 32px;
    }
  }
  .about {
    &__text p {
      font-size: 14px;
    }
  }
  .team {
    &__title {
      font-size: 24px;
    }
    &__inner {
      display: flex;
      flex-direction: column;
    }
    &__list {
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      order: 1;
    }
    &__video {
      position: static;
      max-width: 100%;
      transform: translate(0, 0);
    }
  }
  .contact {
    &__text span + span {
      margin-left: 40px;
    }
    &__star {
      max-width: 100px;
    }
    &__form-title {
      font-size: 18px;
    }
    &__input {
      font-size: 20px;
    }
    &__hand {
      &--alien {
        width: 250px;
        height: 120px;
        top: 0;
        bottom: auto;
        right: 0;
      }
      &--human {
        width: 250px;
        height: 100px;
      }
    }
  }
}

@media (max-width: 568px) {
  .showreel {
    &__inner {
      padding-bottom: 100px;
    }
    &__big-word {
      font-size: 24px;
      &:hover {
        color: transparent;
      }
    }
    &__text-2 {
      margin-top: 15%;
      padding: 0 30px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      max-width: 100%;
    }
  }

  .team {
    &__list {
      display: block;
    }
    &__item {
      display: block;
      max-width: 320px;
      margin: 0 auto 20px;
    }
    &__video {
      max-width: 200%;
      transform: translateX(-24%);
    }
  }

  .contact {
    &__hand--human {
      bottom: 0;
    }
  }
}
